
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Times New Roman", serif;
    background-color: #8faec2;
    height: 100%;
}


.wrapper {
    width: 98%;
    min-height: 95vh;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
    background-color: #8faec2;
    display: flex;           /* добавляем */
    flex-direction: column;
}


.top-bar {
    background-color: #7fa0b8;
    padding: 10px;
    border: 2px solid #4e6a7d;
    margin-bottom: 10px;
}

.top-bar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.header {
    font-family: 'Perpetua Titling MT', light, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid #4e6a7d;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #7fa0b8;
}


.header h1 {
    font-size: 36px;
    letter-spacing: 2px;
}


.logo {
    font-size: 32px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main {
    border: 2px solid #4e6a7d;
    flex: 1;
    min-height: 0;
    position: relative;
    background: repeating-linear-gradient(
            to right,
            #6f8fa8 0px,
            #6f8fa8 80px,
            #8fb0c4 80px,
            #8fb0c4 140px
    );
}


.content-box {
    width: 400px;
    padding: 30px;
    border: 2px solid black;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #AACDDC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.btn {
    width: 100%;
    padding: 24px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2c3e50;
    color: white;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.btn:active {
    transform: scale(0.98);
}